.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;

}

form>div>button {
  margin: auto 10px;
  background-color: #0eecbc;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.resume {
  border: solid 1px lightgray;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.addSearchTransaction {
  display: flex;
  width: inherit;
  justify-content: space-between;
}

.transactions {
  margin: 10px auto;
  border: solid 1px lightgrey;
  width: inherit;
}

.transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
  padding: 0 15px;

  border-radius: 5px;
}

.positive {
  background-color: #A1F0DC;
}

.negative {
  background-color: #F0A1A8;

}

.options span {
  margin: 0 5px;
  cursor: pointer;
}